# Node.js with Vue
# Build a Node.js project that uses Vue.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm audit fix
    npm run build
  displayName: 'npm install and build'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: |
      config/default.json
      config/init.js
      config/setAdmin.js
      docs/**
      !**\node_modules\**
      src/client/**/!(*.ts|*.js.map)
      src/server/**/*.js
      src/shared/**/*.js
      .gitignore
      babel.config.js
      CHANGELOG.md
      LICENSE
      package.json
      postcss.config.js
      README.MD
      thumbnail.gif
      tslint.json
      vue.config.js
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

- task: PublishPipelineArtifact@0
  displayName: 'Publish pipeline artifact'
  inputs:
    artifactName: 'new'
    targetPath: '$(System.DefaultWorkingDirectory)'
