packages:
  yum:
    tree: []

files:
  "/tmp/npm-build.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -x
      export NPM_PATH="$(/opt/elasticbeanstalk/bin/get-config container -k 'nodejs_install_dir')/node-v$(/opt/elasticbeanstalk/bin/get-config optionsettings --namespace 'aws:elasticbeanstalk:container:nodejs' --option-name 'NodeVersion')-linux-x64/bin"
      export PATH=$PATH:$NPM_PATH
      npm install --production=false
      npm audit
      npm audit fix
      npm run build
      tree /tmp/deployment/application/node_modules/.bin
      tree /var/app/current/node_modules/.bin

container_commands:
    01npmbuild:
        command: /tmp/npm-build.sh
