files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99printconfig.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      set -xe

      echo 'printing production.json'
      cat /var/app/current/config/production.json

      echo 'printing containerconfigurationfile'
      cat /opt/elasticbeanstalk/deploy/configuration/containerconfiguration

commands:
  01-remove-baks:
    command: rm -f /opt/elasticbeanstalk/hooks/appdeploy/enact/*.bak
