:root {
  --min-screen: 300;
  --min-screenPX: 300px;
  --max-screen: 2500;
  --max-screenPX: 2500px;
  --min-font: 10;
  --min-fontPX: 10px;
  --max-font: 16;
  --max-fontPX: 16px;
  --font-size: calc(
    var(--min-fontPX) + (var(--max-font) - var(--min-font)) *
      (100vw - var(--min-screenPX)) / (var(--max-screen) - var(--min-screen))
  );
}

/* If screen is bigger than max size, use max font */
@media only screen and (min-width: var(--max-screenPX)) {
  div.example {
    font-size: var(--max-fontPX);
  }
}

/* If the screen size is less than min size, use min font*/
@media only screen and (max-width: var(--min-screenPX)) {
  div.example {
    font-size: var(--min-fontPX);
  }
}

/* use calculaation for anything in between */


.v-treeview-node__content,
.v-treeview-node__label {
  flex-shrink: 1;
  text-align: left;
  font-size: var(--font-size);
}
.v-treeview-node__root {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}
.v-text-field .v-input__control .v-input__slot .v-label {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}

.v-input {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}
.v-label {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}

.v-card {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}

.v-expansion-panel-header {
  height: auto;
  text-align: left;
  font-size: var(--font-size);
}